body {
    font-family: 'Fjalla One', sans-serif;
}
h1 {
    text-align: center;
}
.main {
    display: flex;
    flex-direction: column;
}
.adivina {
    text-align: center;
    font-size: 24px; 
}
.container {
    width: 500px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
}
.abc {
    margin: 10px;
    width: 100%;
}
.abc button {
    margin: 3px;
    padding: 6px;
    background-color:#0b9a17;
    color: white;
    border: 0px;
    font-family: 'Fjalla One', sans-serif;
}
.figure {
    width: 100%;
    height: 300px;
    margin: 10px;
    background-color: #bcf798;
    position: relative;
}
.top-bar {
    width: 70%;
    height: 10px;
    background-color: #000;
    position: absolute;
    top: 20px;
    left: 10%;
}
.vertical-bar {
    width: 10px;
    height: 250px;
    background-color: #000;
    position: absolute;
    top: 30px;
    left: 10%;
}
.bottom-bar {
    width: 80px;
    height: 10px;
    background-color: #000;
    position: absolute;
    top: 270px;
    left: 10%;
}
.rope {
    width: 3px;
    height: 50px;
    background-color: #000;
    position: absolute;
    top: 20px;
    left: 70%;
}
.oculto {
    display:none;
}
.head {
    width: 15%;
    height: 35px;
    background-color: #000000;
    border-radius: 50%;
    position: absolute;
    top: 70px;
    left: 63%;
}
.torso {
    width: 6px;
    height: 90px;
    background-color: #000;
    position: absolute;
    top: 100px;
    left: 69%;
}
.leftarm {
    width: 50px;
    height: 6px;
    background-color: black;
    transform: rotate(135deg);
    position: absolute;
    top: 130px;
    left: 117px;
}
.rightarm {
    width: 50px;
    height: 6px;
    background-color: black;
    transform: rotate(45deg);
    position: absolute;
    top: 130px;
    left: 153px;
}
.leftleg {
    width: 50px;
    height: 6px;
    background-color: black;
    transform: rotate(135deg);
    position: absolute;
    top: 200px;
    left: 117px;
}
.rightleg {
    width: 50px;
    height: 6px;
    background-color: black;
    transform: rotate(45deg);
    position: absolute;
    top: 200px;
    left: 153px;
  }
.reinicio {
    width: 130px;
    height: 35px;
    background-color: #0b9a17;
    color: white; 
    font-size: 16px; 
    border: none; 
    cursor: pointer; 
    text-align: center;
    border-radius: 5px; 
    font-family: 'Fjalla One', sans-serif;
    position: absolute;
    top: 500px;
    left: 670px;
}
.reinicio:hover {
    background-color: #45a049; 
}
.reinicio:active {
    background-color: #3e8e41; 
}
.intro{
    display: flex;
    flex-direction: column;
}
.text{
    text-align: center;
}
.box {
    background-color: #0b9a17; 
    border: 1px solid #ddd; 
    padding: 10px; 
    border-radius: 5px;
    width: 700px; 
    position: absolute;
    top: 60%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.rules{
    width: 130px;
    height: 35px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0b9a17;
    color: white; 
    font-size: 16px; 
    border: none; 
    cursor: pointer; 
    text-align: center;
    border-radius: 5px; 
    font-family: 'Fjalla One', sans-serif;
    position: absolute;
    top: 500px;
    left: 510px;
}
.goback{
    width: 130px;
    height: 35px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000000;
    color: rgb(255, 255, 255); 
    font-size: 16px; 
    border: none; 
    cursor: pointer; 
    text-align: center;
    border-radius: 5px; 
    font-family: 'Fjalla One', sans-serif;
    position: absolute;
    top: 110%; 
    left: 45%;
    
}
.timer{
    font-size: 25px;
    position: absolute;
    top: 63%;
    left: 57%;
}
  